.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}
.header-section {
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(99, 99, 117, .2);
    width: 100%;
    height: 10%
}
.content-section {
    display: none;
    height: 90%;
}
.header-section h3{
    height: 100%;
    align-items: center;
    display: flex;
    margin-left: 20px;
}
.quiz-body {
    margin: 35px;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 0 12px 0 rgba(99, 99, 117, .2);
}
.quiz-head, .quiz-question-body, .question {
    margin-bottom: 12px;    
}
.action-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.start-btn {
    display: none;
    justify-content: center;
    display: flex;
    align-items: center;
}
.mark-btn {
    /* justify-content: center; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
.quiz-body a
{
    /* width: 50%; */
}
a {
    text-decoration: none;
    color: white;
}
.disabled-link {
    color: gray;
    pointer-events: none; /* This will make the link non-interactive */
    text-decoration: none;
}
.disabled-link .btn {
    background-color: lightgrey;
 }